<body>
	<p>Would you like to order a popular pizza or would you like to customize your pizza?</p>

	<form action="premades" method="post">
		<input type="submit" value="Quick Order">
	</form>

	<form action="size" method="post">
		<input type="submit" value="Customize">
	</form>
</body>