<h1>Select a Pizza</h1>

<form action="meats_conf" method="post" required>
    <div class="box">
      <input type="radio" name="Premade" value="pepperoni"><label> Pepperoni </label><br>
      <input type="radio" name="Premade" value="chicken"><label> Chicken </label><br>
      <input type="radio" name="Premade" value="pepperoni_sausage"><label> Pepperoni and Sausage </label><br>
      <input type="radio" name="Premade" value="ham"><label> Spicy Ham </label><br>
    </div>
    <br>
        <input type="submit" value="Continue">
</form>